{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% bootstrap_messages %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
            <form method="post">
                {% csrf_token %}
                <p>{% translate "Are you sure you want to delete" %}
                    {% if object.first_name %}
                        {{ object.first_name }} {{ object.last_name }}?
                    {% else %}
                        {{ object.name }}?
                    {% endif %}
                </p>
                {% bootstrap_button text_button button_type="submit" button_class="btn-danger" %}
            </form>
{% endblock %}