{% extends 'base.html' %}
{% load i18n %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
    <table class="table table-striped">
      <thead>
        <tr>
            <th>ID</th>
            <th>{% translate "Name" %}</th>
            <th>{% translate "Status" %}</th>
            <th>{% translate "Created by" %}</th>
            <th>{% translate "Executive" %}</th>
            <th>{% translate "Created at" %}</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.get_full_name }}</td>
            <td>{{ user.date_joined }}</td>

            <td>
              <a href="{% url 'change' pk=user.id %}">{% translate "Change" %}</a>
              <br>
              <a href="{% url 'delete' pk=user.id %}">{% translate "Delete" %}</a>
            </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
{% endblock %}