{% extends 'base.html' %}
{% load i18n %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
    <table class="table table-striped">
      <thead>
        <tr>
            <th>ID</th>
            <th>{% translate "Name" %}</th>
            <th>{% translate "Status" %}</th>
            <th>{% translate "Created by" %}</th>
            <th>{% translate "Executor" %}</th>
            <th>{% translate "Created at" %}</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
          <tr>
              <td>{{ task.id }}</td>
              <td>{{ task.name }}</td>
              <td>{{ task.task_status.name }}</td>
              <td>{{ task.task_created_by.get_full_name }}</td>
              <td>{{ task.task_executor.get_full_name }}</td>
              <td>{{ task.created_at }}</td>

            <td>
              <a href=#>{% translate "Change" %}</a>
              <br>
              <a href=#>{% translate "Delete" %}</a>
            </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
{% endblock %}