{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
    <a class="nav-link" href="{% url 'tasks:create'%}">{% translate "Create a task" %}</a>
    <div class="card mb-3">
        <div class="card-body bg-light">
            <form class="form-inline center my-auto" method="get">
                {% csrf_token %}
                {% bootstrap_form filter.form form_group_class="form-group" field_class="ml-2 mr-3" %}
                {% bootstrap_button text_button button_type="submit" button_class="btn-primary" %}
            </form>
        </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
            <th>ID</th>
            <th>{% translate "Name" %}</th>
            <th>{% translate "Status" %}</th>
            <th>{% translate "Created by" %}</th>
            <th>{% translate "Executor" %}</th>
            <th class="d-none d-sm-block">{% translate "Created at" %}</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
          <tr>
              <td>{{ task.id }}</td>
              <td>
                  <a href="{% url 'tasks:detail_view' pk=task.id %}">{{ task.name }}
              </td>
              <td>{{ task.status }}</td>
              <td>{{ task.created_by }}</td>
              <td>{{ task.executor }}</td>
              <td class="d-none d-sm-block">{{ task.created_at }}</td>

            <td>
              <a href="{% url 'tasks:update' pk=task.id %}">{% translate "Change" %}</a>
              <br>
              <a href="{% url 'tasks:delete' pk=task.id %}">{% translate "Delete" %}</a>
            </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
{% endblock %}